[flake8]
format = wemake
show-source = True
statistics = False
doctests = True

# Rules:
max-line-length = 120
max-complexity = 15

# strings are in single or double quotes
inline-quotes = double

# wemake-python-styleguide settings:
i-control-code = True

# Disable some pydocstyle checks:
# Exclude some pydoctest checks globally:
ignore =
    # First line should be in imperative mood
    D401
    # line break after binary operator
    W504
    # per-file ignoring (better to live)
    X100
    # Unknown directive type "XXX".
    RST303
    # Unknown interpreted text role "XXX".
    RST304
    # Use of `f` string
    WPS305
    # Found a too complex `f` string
    WPS323
    # Found commented out code
    E800
    # Black would make changes.Flake8
    BLK100
    # Found line with high Jones Complexity
    WPS221

# Excluding some directories:
exclude =
    *.egg
    .eggs
    .git
    .mypy_cache
    .venv
    .vscode
    __pycache__

# Ignoring some errors in some files:
per-file-ignores =
  # Enable `assert` keyword and magic numbers for tests:
  tests/*.py: S101, WPS226, WPS432

docstring-style = google

[isort]
include_trailing_comma = true
use_parentheses = true
multi_line_output = 3
line_length = 120
